{% extends "peer/layout.html" %}

{% load static %}

{% block extra_js %}
<script src="{% static 'peer/js/file-slicer-and-merger.js' %}"></script>
{% endblock %}

{% block title %}
File Slicer and Merger
{% endblock %}

{% block body %}

<p>Your current directory is: {{ current_directory }}</p>
<h1>File Slicer and Merger</h1>
<input type="file" name="" id="file-input">
<button id="slice-file">Slice and Download Pieces</button>
<ul id="file-pieces" style="display: block;"></ul>
<button id="merge-file">Merge Back to Original</button>
<a id="download-merged" style="display: none;"></a>

{{ current_directory|json_script:"django-current-directory" }}

{% endblock %}