{% extends "peer/layout.html" %}

{% load static %}

{% block body %}
<h1>Torrent files</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Files</th>
            <th scope="col">Info Hash</th>
            <th scope="col">Uploaded</th>
            <th scope="col">Size</th>
            <th scope="col">Seeders</th>
            <th scope="col">Leechers</th>
            <th scope="col">Uploaded by</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Conan</td>
            <td>2</td>
            <td>09CDF2FB11167298A4D12DF08307A378FC289EE7</td>
            <td>2024/07/12 21:31</td>
            <td>19 Mib</td>
            <td>2</td>
            <td>2</td>
            <td>thomas</td>
            <td>
                <a href="#"><i class="fa-solid fa-download"></i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Conan</td>
            <td>2</td>
            <td>09CDF2FB11167298A4D12DF08307A378FC289EE7</td>
            <td>2024/07/12 21:31</td>
            <td>19 Mib</td>
            <td>2</td>
            <td>2</td>
            <td>thomas</td>
            <td>
                <a href="#"><i class="fa-solid fa-download"></i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Conan</td>
            <td>2</td>
            <td>09CDF2FB11167298A4D12DF08307A378FC289EE7</td>
            <td>2024/07/12 21:31</td>
            <td>19 Mib</td>
            <td>2</td>
            <td>2</td>
            <td>thomas</td>
            <td>
                <a href="#"><i class="fa-solid fa-download"></i></a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}