{% extends "peer/layout.html" %}

{% load static %}

{% block body %}
<h6>Your Peer ID is: {{ peer_id }}</h6>
<h6>Your current default directory is: {{ current_directory }}</h6>
<h1>Torrent files</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pieces</th>
            <th scope="col">Info Hash</th>
            <th scope="col">Uploaded</th>
            <th scope="col">Size</th>
            <th scope="col">Seeders</th>
            <th scope="col">Leechers</th>
            <th scope="col">Uploaded by</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for torrent in torrents %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ torrent.name }}</td>
            <td>{{ torrent.pieces.count }}</td>
            <td>{{ torrent.info_hash }}</td>
            <td>{{ torrent.created_at|date:"Y/m/d H:i" }}</td>
            <td>{{ torrent.file_length|filesizeformat }}</td>
            <td>{{ torrent.seeders }}</td>
            <td>{{ torrent.leechers }}</td>
            <td>{{ torrent.uploaded_by.user.username }}</td>
            <td>
                <a href="#"><i class="fa-solid fa-download"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}